#seccionPersonas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

#seccionPersonas div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#seccionPersonas div:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 3px #d8d8d8;
    transition: all 0.5s;
}

#seccionPersonas img {
    width: 300px;
    height: 300px;
}

#seccionPersonas ul {
    list-style: none;
    padding: 5px;
    line-height: 1.5;
}

.resaltado {
    font-weight: bold;
    color:firebrick;
}