body {
    background-color:azure;
    margin: 5%;
}


table {
    width: 100%;
    table-layout: fixed;
}

#ampliada {
    width: 95%;
    height: auto;
    margin: 2.5%;
}

#visorImagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#visorImagenes img {
    width: 16%;
    height: auto;
    box-sizing: border-box;
    margin-inline: 1px;
    transition: margin 0.5s;
}

#visorImagenes img:hover {
    cursor: pointer;
    margin: 0%;
    border: 1px solid orange;
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
}