* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    justify-content: space-between; /* Añade espacio entre los divs */
    gap: 2%;
    align-items: flex-start; /* Se alinean en la línea superior */
    width: 90%;
    margin: 0 auto; /* Centrar en la página */
}

#peliculasDisponibles, #peliculaSeleccionada {
    width: 48%;
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
    border: 1px solid #ccc; 
}

#peliculasDisponibles {
    display: grid; /* Grid: para mostrar las películas en forma de columna */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 10px; /* Espacio entre las películas */
    overflow-y: auto; /* Scroll vertical si hay muchas películas */
}

.pelicula {
    display: flex;
    flex-direction: column; /* Alineado verticalmente */
    align-items: center; /* Centrado horizontalmente */
    text-align: center; 
    border: 2px solid orange;
    padding: 10px;
    background-color: #ffe5b4;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.pelicula:hover {
    background-color: #fdca6d;
}

.pelicula img {
    width: 100%; /* Ajusta la imagen al ancho del div */
    height: auto; /* Mantiene la proporción */
}

.pelicula h5 {
    margin: 10px 0 0 0; 
    font-size: 1.1em;
    color: #333;
}

#peliculaSeleccionada {
    padding-left: 50px;
    background-color: #ffe5b4;
    border: 2px solid orange;
    position: sticky; /* Se mantiene fijo al hacer scroll */
    top: 10px; 
}

#peliculaSeleccionada h2 {
    font-size: 2em;
}

#peliculaSeleccionada ul {
    list-style: none; 
    padding: 10px;
    line-height: 1.6;
}