h1 {
    color: red;
    font-size: 20px;
}

h2 {
    color: orange;
    font-size: 17px;
}

p {
    font-size: 13px;
    color: green;
}

div {
    border: 1px solid black;
    padding: 10px;
}

span {
    border: 1px solid;
}

.resaltado {
    background-color: yellow;
}

.resaltadoNegro {
    background-color: black;
}

.rojo {
    border: 1px solid red;
}

.verde {
    border: 1px solid green;
    color: green;
}

.naranja {
    border: 1px solid orange;
}

.marron {
    color: maroon;
    font-weight: bold;
}

.rosa {
    color: fuchsia;
    font-style: italic;
}

.morado {
    color: purple;
    font-weight: normal;
    text-decoration: underline;
}

#secundario {
    background-color: rgb(185, 183, 183, 0.5);
}

#titulo1:hover {
    color: green;
}

#titulo2:hover {
    font-size: 25px; 
}

#titulo3:hover {
    font-style: italic;
}